<h1>Bookings</h1>

<div class="mb-2">
    <%= link_to "new", new_booking_path %>
</div>

<ul class="mx-0 px-0">
    <% @bookings.each do | booking | %>
        <li class="list-item my-2 px-4">
            <a href="<%= booking_path(booking) %>">    
                <div class="row">
                    <div class="col-3"><%= booking.booked_at.strftime("%F %T") %></div>
                    <div class="col-3 text-end"><%= number_to_currency(booking.amount, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %></div>
                    <div class="col-3"><%= booking.category.name %></div>
                    <div class="col-3"><%= booking.comment %></div>
                </div>
                <div>
                    <%= link_to 'edit', edit_booking_path(booking) %>
                    | <%= link_to 'delete', booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
                </div>
            </a>
        </li>
    <% end %>
</ul>
