<h1>Bookings</h1>
   
<ul>
    <% @bookings.each do | booking | %>
        <li class="mb-2">
            <div class="row">
                <div class="col-3"><%= booking.created_at.strftime("%F %T") %></div>
                <div class="col-3"><%= booking.amount %>€</div>
                <div class="col-3"><%= booking.category.name %></div>
                <div class="col-3"><%= booking.comment %></div>
            </div>
            <div><%= link_to 'details', booking %></div>
        </li>
    <% end %>
</ul>
