<h1>New Booking</h1>

<%= form_with model: @booking do |form| %>
    <div>
      <%= form.label :amount %><br>
      <%= form.number_field :amount, :step => "0.01" %>
    </div>
  
    <div>
      <%= form.label :category_id %><br>
      <%= form.number_field :category_id %>
    </div>

    <div>
      <%= form.label :comment %><br>
      <%= form.text_area :comment %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
<% end %>
