<table class="table table-dark table-stripped table-hover">
    <thead>
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">sum</th>
        </tr>
    </thead>
    <tbody>
        <tr styles="border-spacing: 0 20px;">
            <%  balances_sum = calc_balances_per_year(@balances_per_year) %>

            <th scope="row">balance</th>
            <td class="text-end <%= css_currency_background(balances_sum) %>">
                <%= currency_as_euro(balances_sum) %>
            </td>
        </tr>

        <% @account.bookings.group_by(&:category_id).each do |category_id, bookings| %>
            <tr>
                <% category_sum = calc_category_per_year(bookings) %>

                <th scope="row"><%=bookings.first.category.name%></th>
                <td class="text-end <%= css_currency_background(category_sum) %>">
                    <%= currency_as_euro(category_sum) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>