<h1>Account</h1>

<div class="mb-2">
    <%= link_to "edit", edit_account_path(@account) %>
    | <%= link_to 'delete', account_path(@account), method: :delete, data: { confirm: "Are you sure?" } %>
</div>

<div class="row">
    <div class="col-6 text-end">name: </div>
    <div class="col-6"><%= @account.name %></div>
</div>
<div class="row">
    <div class="col-6 text-end">iban: </div>
    <div class="col-6"><%= @account.iban %></div>
</div>

<h3>Balances</h3>
<% @account.balances.each do | balance | %>
    <div class="row">
        <div class="col-6 text-end"><%= number_to_currency(balance.balance, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %></div>
        <div class="col-6"><%= balance.year %>.<%= balance.month.to_s.rjust(2, '0') %>.</div>
    </div>
<% end %>

<%= render "back_to_accounts" %>
