<h1>Account</h1>

<div class="my-4">
    <%= link_to "edit", edit_account_path(@account) %>
    | <%= link_to 'delete', account_path(@account), method: :delete, data: { confirm: "Are you sure?" } %>
</div>

<h3>Details</h3>

<div class="row">
    <div class="col-6 text-end">name: </div>
    <div class="col-6"><%= @account.name %></div>
</div>
<div class="row">
    <div class="col-6 text-end">iban: </div>
    <div class="col-6"><%= @account.iban %></div>
</div>

<h3>Dashboard</h3>

<div class="dashboard">
    <%= render "accounts/dashboard/head" %>
    <%= render "accounts/dashboard/balances" %>
    <%= render "accounts/dashboard/categories" %>
</div>

<div class="container mt-4">
    <%= render "back_to_accounts" %>
</div>
